# Postgres connection string format
DATABASE_URL=

# Auth - Legacy Admin API key + Github Auth
ADMIN_API_KEY=
ADMIN_GITHUB_USERNAME=

# Supabase file store config 
SUPABASE_URL=
SUPABASE_KEY=
SUPABASE_BUCKET=
