# web framework
fastapi>=0.115
uvicorn[standard]>=0.34

# utils
python-dotenv>=1.0
python-multipart>=0.0.20
pydantic>=2.10

# auth
PyJWT>=2.10
httpx>=0.28

# database
psycopg2-binary>=2.9

# storage + cache
boto3>=1.35
redis>=5.2

# image processing
Pillow>=11.0
